@model AccessControl.Models.ObjsTest
@{
    ViewBag.Legend = "AUTORIZAÇÃO";
}

@using (Html.BeginForm())
{
    <!-- BEGIN TESTE -->
    <h4>Begin Inputs de Teste</h4>
    <p>
        @Html.EditorFor(model => model.Rfid)
    </p>
    <p><input type="submit" value="ENVIAR" /></p>
    <h4>End Inputs de Teste</h4>
    <!-- END TESTE -->

    <h2>@Html.ValidationSummary(true)</h2>
    <h2>É NECESSÁRIA A AUTORIZAÇÃO DE UM ADMINISTRADOR PARA A OPERAÇÃO!</h2>
    <h3>Aproxime o cartão administrativo.</h3>
}