<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://theaccesscontrol.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>theaccesscontrol.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>theaccesscontrol</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$theaccesscontrol</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AccessControlContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=luizdequeiroz.database.windows.net;Initial Catalog=accesscontrol;Persist Security Info=True;User ID=luizdequeiroz;Password=@Protego;Application Name=EntityFramework" Name="Data Source=luizdequeiroz.database.windows.net;Initial Catalog=accesscontrol;Persist Security Info=True;User ID=luizdequeiroz;Password=@Protego;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheAccessControl.Models.AccessControlContainer, TheAccessControl" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccessControlContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AccessControl.csdl|res://*/Models.AccessControl.ssdl|res://*/Models.AccessControl.msl;provider=System.Data.SqlClient;provider connection string="Data Source=luizdequeiroz.database.windows.net;Initial Catalog=accesscontrol;Persist Security Info=True;User ID=luizdequeiroz;Password=@Protego;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>