@model TheAccessControl.Models.ObjsTest
@{
    ViewBag.Legend = "INÍCIO";
}

<script type="text/javascript" language="javascript">
    var loading = function (event) {
        document.getElementById('load').style = 'display: normal; text-align: center';
    }
</script>

@using (Html.BeginForm())
{
    <div id="load" style="display: none">
        <img src="~/Content/images/loader.gif" />
    </div>

    <div style="display: none">
        <!-- BEGIN TESTE -->
        <h4>Begin Inputs de Teste</h4>
        <p>
            @Html.EditorFor(model => model.Rfid)
            @Html.ValidationMessageFor(model => model.Rfid)
        </p>
        <p><input type="submit" value="ENVIAR" onclick="loading(event)" /></p>
        <h4>End Inputs de Teste</h4>
        <!-- END TESTE -->
    </div>
    <h2>
        APROXIME SEU CARTÃO!
    </h2>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}